.endGame {
  max-height: 96vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h1 {
    margin-top: 0;
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .endGameAnswersBox {
    overflow-x: hidden;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .endGameAnswer {
      width: 420px;
      text-align: center;
      margin: 8px 16px;
      display: flex;
      flex-direction: column;
      padding: 8px 16px;
      border: 1px solid #9bbec8;
      border-radius: 20px;
      background-color: #427d9d;
      margin-bottom: 16px;

      @media screen and (max-width: 440px) {
        width: 300px;
        margin: 4px 8px;
      }

      div {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
      }

      p {
        margin: 4px;
      }

      .categoryTimeBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
      }

      .correctAnswer {
        color: rgba(9, 207, 9, 0.9);
      }

      .wrongAnswer {
        color: rgb(170, 6, 6);
      }
    }
  }
}
