.gameContainer {
  display: flex;
  h1 {
    text-align: center;
    margin-top: 0;
  }
  .answers {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    button {
      border-radius: 20px;
      width: 240px;
      height: 50px;
      border: 1px solid black;
      cursor: pointer;
    }

    .correctAnswer {
      background-color: green;
    }

    .wrongAnswer {
      background-color: red;
    }

    .chosenAnswer {
      border: 4px solid black !important;
    }
  }
}

.meta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 0;
  }
}

.endGame {
  position: relative;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  button {
    cursor: pointer;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid black;
  }
}
