.app {
  max-width: 800px;
  margin: 16px auto;
  position:relative;
  padding: 0 60px;
  // display: flex;
  // justify-content: center;
  // div {
  //   display: flex;
  //   flex-direction: column;
  //   max-width: 800px;
  // }
}