.settingsContainer {
  padding: 32px;
  width: 700px;
  min-height: 562px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleContainer {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    align-items: center;

    h1 {
      margin: 0 auto;
    }

    div {
      min-width: 46px;
    }
  }

  select,
  input {
    min-width: 210px;
    height: 30px;
    padding: 0 10px;
    background-color: #ddf2fd;
    border-color: #9bbec8;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
  }

  label {
    margin-bottom: 8px;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
